/*--- Following element just for personal information page*/
#personal-info-form {
    padding: 100px;
    width: auto;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #b1c7f0;
    border-radius: 10px;
}
.input-container-check {
    display: flex;
    flex-direction: row;
    text-align: left;
    vertical-align: center;
}
.input-container-check input {
    margin-right: 15px;
}
#personal-info-form button {
    align-self: flex-start;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #0b5394;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
}
.personal-info-form-alert {
    color: #0b5394;
    text-align: center;
    background: rgb(0, 220, 0);
    border-radius: 5px;
    padding: 10px;
    display: none;
    transition: all 0.5s;
}
/*--------------------------------------------------------*/
.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: left;
}
.input-container label { 
    font-size: 1.6rem; 
    color:#0b5394;
}
.input-container input, textarea {
 padding: 1rem 2rem;
 border-radius: 5px;
 border: 1px solid #fff;
 resize: none;
 font-size: 20px;
}
#outreach-container button {
    align-self: flex-start;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #0b5394;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
}

#outreach-container form {
    width: 50%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

@media only screen and (max-width: 1200px) {
    /*Let's Talk Container blocking*/
    #outreach-container form {
        width: 100%;
    }
    #home-contact-info {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #personal-info-form {
        padding: 10px;
    }
}